.secao-principal{
    padding: 50px 20px;
}

.botao-escolha{
    width: 100%;

    display: flex;
    gap: 10px;
}

button{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 3px;
}

.img-icone{
    width: 20px;
}

.box-input{
    margin: 20px 0;
    border: 2px solid lightgray;
    border-radius: 20px;


    display: flex;
    align-items: center;
}

.box-input input{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.secao-titulo .titulo{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 20px 0;
    color: #daa520;
} 

.secao-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #f3f3f3;
    padding: 20px;
    border: #daa520;
}