.container-topo{
    background-image: url(../assets/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
}

.secao-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titulo{
    font-family: 'Popins', sans-serif;
    font-size: 2.2rem;
    color: #f3f3f3;
}

.paragrafo{
    width: 400px;
    font-family: 'Dancing Script';
    text-align: center;
    font-size: 1.5rem;
    color: #daa520;
    margin-top: 10px;
}